
@{
    ViewBag.Title = "Index";
}





<div class="alert alert-dark">Welcome to Index</div>
<script src="~/Scripts/knockout-3.5.1.js"></script>
<script src="~/Scripts/Login/Login.js"></script>
<script src="~/Scripts/Login/AccountPasswordData.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>